@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  transition: background 5s ease-in;
  transition: background-color 1s ease;
}

.dark {
  @apply bg-zinc-950 text-zinc-50;
}

.gradient {
  /* Your custom styles here */
  background: linear-gradient(
    to bottom,
    rgba(0, 225, 255, 0.1),
    rgba(0, 0, 255, 0.1),
    rgba(208, 0, 255, 0.1),
    rgba(255, 0, 230, 0.1)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
/* Track */
/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(24 24 27 / 1);
} */

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 46);
}

.gradient ::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.3);
}

@media (min-width: 320px) {
  .hhh {
    width: 280px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@media (min-width: 375px) {
  .hhh {
    width: 320px;
  }
}

@media (min-width: 400px) {
  .hhh {
    width: 350px;
  }
}

@media (min-width: 475px) {
  .hhh {
    width: 400px;
  }
}

@media (min-width: 640px) {
  .hhh {
    width: 280px;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  .responsive-card-img {
    width: calc(10vw + 60px - 16px);
    height: calc(10vw + 60px - 16px);
    max-height: calc(10vw + 60px - 16px);
  }
}

@media (min-width: 768px) {
  .hhh {
    width: 400px;
  }
  .responsive-card-img {
    width: calc(10vw + 100px - 16px);
    height: calc(10vw + 100px - 16px);
    max-height: calc(10vw + 100px - 16px);
  }
}

@media (min-width: 1024px) {
  .hhh {
    width: 280px;
  }
  .responsive-card-img {
    width: calc(10vw + 30px - 16px);
    height: calc(10vw + 30px - 16px);
    max-height: calc(10vw + 30px - 16px);
  }
}

@media (min-width: 1440px) {
  .responsive-card-img {
    width: calc(10vw + 5px - 16px);
    height: calc(10vw + 5px - 16px);
    max-width: 180px;
    max-height: 180px;
  }
}

.responsive-card {
  box-sizing: border-box;
}

.w-inherit {
  width: 100%;
  max-width: inherit;
}

.button-transition {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.music-card {
  transition: transform 0.8s ease-in-out; /* Add a CSS transition */
}

.playing-mobile {
  background: rgba(0, 0, 0, 0.3);
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  gap: 0.5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  position: absolute;
  /* bottom: 5px; */
  /* right: 5px; */
  z-index: 0;
}

.playing-playlist {
  background: rgba(0, 0, 0, 0.3);
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  gap: 0.5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  position: absolute;
  left: -10px;
  z-index: 0;
}

@media (min-width: 1024px) {
  .playing-playlist {
    top: -8px;
    left: -15px;
  }
}

.playing-ui {
  background: rgba(0, 0, 0, 0.3);
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  gap: 0.5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 0;
}

.playing__bar {
  display: inline-block;
  background-color: rgb(34 197 94 / 1);
  width: 30%;
  height: 100%;
  animation: up-and-down 1.3s ease infinite alternate;
}

.playing__bar1 {
  height: 60%;
}

.playing__bar2 {
  height: 30%;
  animation-delay: -2.2s;
}

.playing__bar3 {
  height: 75%;
  animation-delay: -3.7s;
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 50%;
  }

  80% {
    height: 75%;
  }

  100% {
    height: 60%;
  }
}

.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); */
}
.rhap_container:focus:not(:focus-visible) {
  outline: 0;
}
.rhap_container svg {
  vertical-align: initial;
}

.rhap_header {
  margin-bottom: 10px;
}

.rhap_footer {
  margin-top: 5px;
}

.rhap_main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 8px;
}

.rhap_horizontal {
  flex-direction: row;
}
.rhap_horizontal .rhap_controls-section {
  margin-left: 8px;
}

.rhap_horizontal-reverse {
  flex-direction: row-reverse;
}
.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 8px;
}

.rhap_stacked-reverse {
  flex-direction: column-reverse;
}
.rhap_stacked-reverse .rhap_controls-section {
  margin-bottom: 8px;
}

.rhap_progress-section {
  display: flex;
  flex: 3 1 auto;
  align-items: center;
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.rhap_progress-container:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_time {
  color: rgb(226 232 240);
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(228 228 231);
  border-radius: 2px;
}

.rhap_progress-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgb(34 197 94 / 1);
  border-radius: 2px;
}

.rhap_progress-bar-show-download {
  background-color: rgb(226 232 240);
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(226 232 240);
  border-radius: 2px;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  top: -8px;
  background: rgb(226 232 240);
  border-radius: 50px;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
}

.rhap_controls-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.rhap_additional-controls {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.rhap_repeat-button {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: rgb(226 232 240);
  margin-right: 6px;
}

.rhap_main-controls {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_main-controls-button {
  margin: 0 3px;
  color: rgb(226 232 240);
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.rhap_play-pause-button {
  font-size: 40px;
  color: rgb(226 232 240);
  width: 40px;
  height: 40px;
}

.rhap_volume-controls {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  color: rgb(226 232 240);
}

.rhap_volume-button {
  flex: 0 0 26px;
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: rgb(226 232 240);
  margin-right: 6px;
}

.rhap_volume-container {
  display: flex;
  align-items: center;
  flex: 0 1 100px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_volume-bar-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  cursor: pointer;
}
.rhap_volume-bar-area:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_volume-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  background: rgb(226 232 240);
  border-radius: 2px;
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  left: 0;
  top: -4px;
  background: rgb(226 232 240);
  opacity: 0.9;
  border-radius: 50px;
  box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
  cursor: pointer;
}
.rhap_volume-indicator:hover {
  opacity: 0.9;
}

.rhap_volume-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgb(34 197 94 / 1);
  border-radius: 2px;
}

/* Utils */
.rhap_button-clear {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.rhap_button-clear:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
}
.rhap_button-clear:active {
  opacity: 0.95;
}
.rhap_button-clear:focus:not(:focus-visible) {
  outline: 0;
}

.loader {
  height: 30px;
  padding-bottom: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.blob {
  border-radius: 50%;
  background-color: #232323;
  display: block;
  float: left;
  margin: 5px 2px;
  position: relative;
  top: 5px;
  height: 20px;
  width: 20px;

  -webkit-animation: loading-blob 1.2s infinite;
  -moz-animation: loading-blob 1.2s infinite;
  -o-animation: loading-blob 1.2s infinite;
  animation: loading-blob 1.2s infinite;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes loading-blob {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@-moz-keyframes loading-blob {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@-o-keyframes loading-blob {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@keyframes loading-blob {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

.blob2 {
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  -o-animation-delay: 150ms;
  animation-delay: 150ms;
}

.blob3 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}
